
.root{
    -fx-background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"),url("https://surnayarit.tecnm.mx/web/images/tecNM/TecNM_r.png");
    -fx-background-repeat: no-repeat,no-repeat;
    -fx-background-size: 110%, 180px;
    -fx-background-position: center,top;
    }

    .menu-bar{
    -fx-background-color: #BCC8B3;
    -fx-border-color: #000;
    -fx-border-width: 2;

    }

    .menu:hover{
    -fx-background-color: #000;
    -fx-font-weight: bold;
    }

    .label:hover{
    -fx-font-size: 15 pt;
    -fx-text-fill: green;
    }

    .menu-item{
     -fx-background-color: #BCC8B3;
     -fx-border-color: #000;
    }

    .menu-item: hover{
     -fx-background-color: #000;
     -fx-font-weight: bold;
    }
